---
import { TypeAnimation } from 'react-type-animation'
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import EmailIcon from '../components/icons/Email.astro'
import WorkIcon from '../components/icons/Work.astro'
import CodeIcon from '../components/icons/Code.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Stacks from '../components/Stacks.astro'
---

<Layout
  title="Alex Flores - Front End Development"
  description="Contrata a ritzudev para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4 max-w-3xl mx-auto">
    <section id="home" class="">
      <div class="flex items-center flex-col sm:flex-row py-20 gap-10 md:gap-0">
        <h1
          class="text-2xl text-center md:text-start sm:text-4xl md:text-5xl lg:text-5xl xl:text-5xl font-bold w-full"
        >
          <span
            class="bg-gradient-to-r from-green-400 to-sky-400 text-transparent bg-clip-text"
            >Hey, soy</span
          >
          <br class="hidden sm:block" />
          <!-- <span id="textName"> Alex FZ</span>, <br /> -->
          <TypeAnimation
            client:visible
            sequence={[
              'Alex Flores',
              1000,
              /* 'Front End Development',
							1000, */
              'Web Developer',
              1000,
              'Flutter Developer',
              1000
            ]}
            wrapper="span"
            speed={50}
            style={{ lineHeight: '1.5em' }}
            repeat={Infinity}
          />
        </h1>

        <img class="" src="/me.png" alt="rin" />
      </div>
			<div class="w-52 mb-4"> <span class="relative flex overflow-hidden rounded-lg p-[2px]"> <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#47d98f_0%,#1B4831_50%,#47d98f_100%)]"></span> <div class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-lg bg-slate-950/90 px-3 py-1 text-sm font-medium text-white backdrop-blur-3xl whitespace-nowrap"> Disponible para trabajar </div> </span> </div>
      <h2 class="max-w-[700px] text-balance text-xl lg:text-2xl">
				<span class="text-sky-300">+3 años de experiencia.</span>
				<span class="text-green-300">Desarrollador Web y Desarrollador Flutter.</span>
				<span class="text-red-500">De <span class="text-white">Lima,</span> Perú.</span>
				<span class="text-yellow-300">Especializado en crear aplicaciones únicas.</span>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://github.com/ritzudev">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:lexzum10@gmail.com">
					<EmailIcon class="size-6" />
					lexzum10@gmail.com
				</SocialPill>
			</nav>
    </section>
		<section class="mt-10">
			<h1 class="flex gap-3 text-3xl items-center text-gray-300 font-semibold">
				<WorkIcon class="size-7"/> Experiencia Laboral
			</h1>
			<Experience />
		</section>
		<section class="">
      <h1 class="flex gap-3 text-3xl items-center text-gray-300 font-semibold">
        <CodeIcon class="size-7" /> Proyectos
      </h1>
			<div class="grid grid-cols-1 sm:grid-cols-2 place-items-center py-10 gap-6 text-start ">
        <Projects />
      </div>
		</section>
    <section class="py-10 flex gap-6">
      <Stacks />
    </section>
  </main>
</Layout>