<footer class="flex flex-col-reverse md:flex-row backdrop-blur-lg px-6 py-4 justify-between my-4 max-w-[800px] md:w-full mx-auto items-center ">
  <span class="text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-sky-400">
    © 2024 ritzudev. Todos los derechos reservados
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"> <li> <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a> </li> <li> <a href="#" class="hover:underline">Contacto</a> </li> </ul>
</footer>