---
import StackIcon from './StackIcon.astro'

import astroIcon from './iconsStack/astroicon.astro'
import bootstrapIcon from './iconsStack/bootstrap.astro'
import cssIcon from './iconsStack/css.astro'
import expressjsIcon from './iconsStack/expressjs.astro'
import flutterIcon from './iconsStack/flutter.astro'
import gitIcon from './iconsStack/git.astro'
import githubIcon from './iconsStack/github.astro'
import htmlIcon from './iconsStack/html.astro'
import jsIcon from './iconsStack/js.astro'
import nextjsIcon from './iconsStack/nextjs.astro'
import nodejsIcon from './iconsStack/nodejs.astro'
import reactIcon from './iconsStack/react.astro'
import tailwindIcon from './iconsStack/tailwind.astro'
import vitejsIcon from './iconsStack/vitejs.astro'
import vscodeIcon from './iconsStack/vscode.astro'
import vueIcon from './iconsStack/vue.astro'
import vuetifyIcon from './iconsStack/vuetify.astro'

/* import VueIcon from '/'

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Vue,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
} */

const STACKS = [
  {
    textHover: 'html',
    iconColor: '#ef652a',
    svg: htmlIcon,
    name: 'HTML'
  },
  {
    textHover: 'css',
    iconColor: '#30A9DC',
    svg: cssIcon,
    name: 'HTML'
  },
  {
    textHover: 'JavaScript',
    iconColor: '#F0DB4F',
    svg: jsIcon,
    name: 'HTML'
  },
  {
    textHover: 'vue',
    iconColor: '#3faa7e',
    svg: vueIcon,
    name: 'HTML'
  },
  {
    textHover: 'react',
    iconColor: '#00D8FF',
    svg: reactIcon
  },
  {
    textHover: 'flutter',
    iconColor: '#1f8ad2',
    svg: flutterIcon
  },
  {
    textHover: 'nodejs',
    iconColor: '#539e43',
    svg: nodejsIcon
  },
  {
    textHover: 'tailwind',
    iconColor: '#16bfb8',
    svg: tailwindIcon
  },
  {
    textHover: 'astro',
    iconColor: '#fff',
    svg: astroIcon
  },
  {
    textHover: 'nextJs',
    iconColor: '#fff',
    svg: nextjsIcon
  },
  {
    textHover: 'expressjs',
    iconColor: '#ffffff',
    svg: expressjsIcon
  },
  {
    textHover: 'git',
    iconColor: '#de4c36',
    svg: gitIcon
  },
  {
    textHover: 'github',
    iconColor: '#F0DB4F',
    svg: githubIcon
  },
  /*   {
    textHover: 'vscode',
    iconColor: '#1f8ad2',
    svg: vscodeIcon
  }, */
  {
    textHover: 'vuetify',
    iconColor: '#7bc6ff',
    svg: vuetifyIcon
  },
  {
    textHover: 'bootstrap',
    iconColor: '#7e13f8',
    svg: bootstrapIcon
  },
  {
    textHover: 'vite',
    iconColor: '#6e97fe',
    svg: vitejsIcon
  }
]
---

{
  STACKS.map((stack) => (
    <StackIcon textHover={stack.textHover} iconColor={stack.iconColor}>
      <span>
        <stack.svg class="size-8" />
      </span>
    </StackIcon>
  ))
}
